mixin showReviews(store)
  each review in store.reviews
    .review
      .review__header 
        .review__author
          img.avatar(src=review.author.gravatar)
          p= review.author.name
        .review__stars(title=`Rated ${review.rating} out of 5`)= '⭐️'.repeat(review.rating)
        time.review__time(datetime=review.created)= helpers.moment(review.created).fromNow()
      .review__body
        p= review.text